/* ********	In Admissions *********** */
  
  .u-NavSite__level--3 {
    justify-content: left;
    margin-top: 0.4em;
}

.u-NavSite__item.icon-external svg {
    height: 0.7em;
    width: 0.7em;
}


.u-Masthead__siteName--link {
    padding: 0.15em 0.3em 0.3em 0.3em !important;
}


.feature-grid .Module__desc h2 {
    text-align: center;
}

/* Video List */
ul.videoList
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    list-style: none;
    padding-left: 0;
}

ul.videoList a
{
   border: solid .1em !important;
    display: grid;
    grid-template: 
        "videoThumbnail"
        "videoHeader"
        "videoCaption";
    line-height: 1.2;
    padding: 1em 5% !important;
    text-decoration: none !important;
}

ul.videoList a:hover
{
    background-color: hsl(34deg, 100%, 97%);
    border-color: hsl(34deg, 50%, 50%);
    color: hsl(34deg, 30%, 30%);
    transform: scale( 1.0125 );
    transition: all .25s ease-out;
    box-shadow: 0 0 0.5em 0.25em rgb(179, 179, 179);
}

/* use figcaption in case strong is used in title */
ul.videoList figcaption strong
{
    color: #333;
    font-size: 1.05em;
}

/* use figcaption in case em is used in title */
ul.videoList figcaption em
{
    color: #333;
    font-size: .9em;
    line-height: 0 !important;
}

ul.videoList figure
{
    margin-bottom: 1em;
}

ul.videoList h3
{
    font-size: 1.15em;
    font-weight: normal;
    grid-area: videoHeader;
    line-height: 1.2;
    margin-bottom: .5em;
}

ul.videoList img
{
    grid-area: videoThumbnail;
    width: 100%;
}

ul.videoList li
{
    display: flex;
}
/* Video List */




/* Modal */
.modal
{
    bottom: 0;
    display: none;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}

.modal iframe
{
    border: 0;
}

.modal-backdrop
{
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
}

.modal-backdrop.fade
{
    opacity: 0;
}

.modal-backdrop.show
{
    opacity: .94;
}

.modal-body
{
    position: relative;
}

.modal-content
{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1A1A1A;
    border-radius: .5em;
    /* offset header height to vertically center modal */
    margin-top: -3.5em;
    padding: 0 1em 1em;    
    position: relative;
}

.modal-dialog
{
    margin: 0 auto;
    width: 90%;
}

.modal.fade
{
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/* override Admission styling */
.modal.fade:after,
.modal-backdrop.fade:after
{
    display: none;
    visibility: hidden;
}
/* override Admission styling */

.modal.fade.show
{
    opacity: 1;
}

.modal.fade .modal-dialog
{
    -webkit-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .4s ease-out;
}

.modal-header
{
    padding: 1em 0;
    text-align: right;
}

.modal-header .close
{
    background-color: #111;
    border: solid .125em #aaa;
    color: #efefef;
    cursor: pointer;
}

.modal-header .close:hover
{
    background-color: #fefefe;
    color: #333;
}

.modal-open
{
    overflow: hidden;
}

.modal-open .modal
{
    overflow-x: hidden;
    overflow-y: auto;
}

/* override JS display: block */
.modal.show
{
    align-items: center;
}
/* override JS display: block */

.modal.show .modal-dialog
{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width: 60em)
{
    .modal-dialog
    {
        margin: 1em auto;
        width: 60%;
    }
}
/* Modal */

.parent-site .Module--news li.Module__listItem a
{
    border-bottom: solid 1px !important;
}

.parent-site .Module__desc h3
{
    margin-bottom: .5em;
    text-transform: none;
}

.parent-site .Module__desc h2
{
    font-family: "acumin-pro-extra-condensed","Arial Narrow","Helvetica Condensed";
    font-weight: 300;
}

.parent-site .feature-grid .Module__desc
{
    display: flex !important;
}

.parent-site .u-pageTitle
{
    margin-bottom: .25em !important;
    text-transform: none;
}

.parent-site h3
{
    text-transform: none;
}

.parent-site h2
{
    font-weight: 300;
    font-family: "acumin-pro-extra-condensed","Arial Narrow","Helvetica Condensed";
}

.parent-site .row-title
{
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
}

.parent-site .Module--mainContent.Module--halfWidth h3
{
    font-size: 1.5em;
}

.parent-site .row--contact-listing h3:not(:first-child)
{
    margin-top: 1em !important;
}



@media screen and (min-width: 900px) {
    .u-NavSite__level--2 .u-NavSite__item[href="/admissions/docs/Vassar-Viewbook-2020.pdf"] {
	    background: rgba(0,0,0,0.1);
	    background: #fff;
	    position: relative;
	    padding: 0.4em;
	    margin-top: 0.4em;
	    margin-left: 0.5em;
	}
	.u-NavSite__level--2 .u-NavSite__item[href="/admissions/docs/Vassar-Viewbook-2020.pdf"]:hover,
	.u-NavSite__level--2 .u-NavSite__item[href="/admissions/docs/Vassar-Viewbook-2020.pdf"]:focus,
	.u-NavSite__level--2 .u-NavSite__item[href="/admissions/docs/Vassar-Viewbook-2020.pdf"]:active {
	    transform: scale(1.06);
	    box-shadow: 0 1em 1em rgba(0,0,0,0.2);
	}
	.u-NavSite__level--2 .u-NavSite__item[href="/admissions/docs/Vassar-Viewbook-2020.pdf"]:after {
	    content: '';
		background: url(/admissions/docs/viewbook2020-cover.jpg) no-repeat center center;
	    background-size: cover;
	    display: block;
	    font-size: 0;
	    margin-top: 3%;
	    height: 230px;
	    width: 100%;
	}
}

.mod--deadlines .index-list li em:before {
    content: none !important;
}
.imagegrid .Module__desc {
	padding: 0.6em !important;
}


.u-folderViewbook {
	.u-lHeader {
		background-image: url(/admissions/assets/images/banners/0191-19-10-ali-library-drone-vassar-vb-2003.jpg);
	}
}



/*	******* In New Students ******** */
	
	
	
	
/*	This will go away as soon as we can have site-level styling vs centralized styling */	

.u-lHeader {	
  /*	Congrats	
	-------- */	
  /*	New Students	
	------------ */	
  /*	Admissions	
	---------- */	
  /*	
	@include local-header('.u-folderOpen-house', '0123_15_11_KR_0031.jpg');	
	@include local-header('.u-folderOpen-house', '0139_16_11_KR_0114.jpg');	
	@include local-header('.u-folderOpen-house', '0141_14_11_KR_0234.jpg');	
	@include local-header('.u-folderOpen-house', '0152_13_10_-KF_0321.jpg');	
	@include local-header('.u-folderOpen-house', '0152_13_10_-KF_0490.jpg');	
	@include local-header('.u-folderOpen-house', '0162_14_11_TT_2356.jpg');	
	@include local-header('.u-folderOpen-house', '0177_16_09_KR_0086.jpg');	
	@include local-header('.u-folderOpen-house', '0203_17_04_KR_0155.jpg');	
	@include local-header('.u-folderOpen-house', 'ALANA-Fest-1709-KR-1599.jpg');	
	*/ }	
  .u-folderOpen-house .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0203_17_04_KR_0155.jpg"); }	
  .u-folderVisit-schedule .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0098_15_09_KR_0019.jpg"); }	
  .u-folderAdmitted-student-stats .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/Raymond-House-1704-KR-0052.jpg"); }	
  .u-folderFaqs .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/Move-In-Day-1808-KR_1767.jpg"); }	
  .u-folderReceptions .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0139_16_11_KR_0114.jpg"); }	
  .u-pageHome.u-folderNewstudents .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0110_15_10_TT_6291_edit.jpg"); }	
  .u-folderInternational-students .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0111_14_11_KR_0067.jpg"); }	
  .u-folderFirst-year-students .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0137_14_11_KR_0123.jpg"); }	
  .u-folderOrientation .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0177_16_09_KR_0086.jpg"); }	
  .u-folderTransfer .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0098_15_09_KR_0068_edit.jpg"); }	
  .u-folderForms-tests .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/0007_16_02_KR_0054.jpg"); }	
  .u-folderAnswers .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/adm-site-banner.jpg"); }	
  .u-folderFinancial-aid .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/masthead-7_Campus.jpg"); }	
  .u-folderClass-profile .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/masthead-15_Student-Life.jpg"); }	
  .u-folderVisit-us .u-lHeader {	
    background-image: url("https://vassar.edu/assets/images/banners/masthead-6_Campus.jpg"); }	
  .u-folderOpenhouse .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0110_15_10_TT_6291_edit.jpg"); }	
  .u-folderCampus .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0019_12_04_TT_0796.jpg"); }	
  .u-folderClassvisits .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0098_15_09_KR_0019.jpg"); }	
  .u-folderOvernight .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0032_15_04_JA_655.jpg"); }	
  .u-folderGroup-tours .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0152_13_10_-KF_0321.jpg"); }	
  .u-folderTour .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0162_14_11_TT_2356.jpg"); }	
  .u-folderForms .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0074_16_07_KR_0048.jpg"); }	
  .u-folderStudent-faqs .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0075_16_07_KR_0075.jpg"); }	
  .u-folderCampus .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0092_16_08_BL_5883.jpg"); }	
  .u-folderRequirements .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0046_16_04_KR_0007.jpg"); }	
  .u-folderDiversity .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0074_15_08_KR_0088.jpg"); }	
  .u-folderOvernight .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0093_14_10_KR_0103.jpg"); }	
  .u-folderAward .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0177_16_09_KR_0066.jpg"); }	
  .u-folderGrants-and-scholarships .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0162_14_11_TT_2262.jpg"); }	
  .u-folderLoans-and-lenders .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/308_Bridge_Vassar_May-2019_JA.jpg"); }	
  .u-folderCampus-employment .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0014_13_02_JA_380.jpg"); }	
  .u-folderTuition .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/Vassar_Campus_20190508_KR_4959.jpg"); }	
  .u-folderForms .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/Vassar_Dorm_20190506_KR_4372.jpg"); }	
  .u-folderContact .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/Vassar_Campus_20190508_KR_5086.jpg"); }	
  .u-folderInterviews .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0006-19-01-kr-0681-sophomore-career-conn-vassar.jpg"); }	
  .u-folderCampus .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0152_13_10_-KF_0399.jpg"); }	
  .u-folderArts .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/HW_26A1208.jpg"); }	
  .u-folderVeterans .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0003_16_01_SS2_133.jpg"); }	
  .u-folderAfter-vassar .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0114_18_09_KR_3643.jpg"); }	
  .u-folderRegional .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0001_15_01_SS2_052.jpg"); }	
  .u-folderFive-colleges .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/0019_12_04_TT_0814.jpg"); }	
  .u-folderApply .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/Vassar_Campus_20190508_KR_5240.jpg"); }	
  .u-folderFinancial-aid .u-lHeader {	
    background-image: url("/admissions/assets/images/banners/Vassar_Campus_20190508_KR_5302.jpg"); }	



@-webkit-keyframes fade-shift-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes fade-shift-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }


/*	New styling added by Jeff */

	
.u-Masthead__siteName--link {	
    padding: 0.15em 0.3em 0.3em 0.3em;	
}	
.parent-site .u-pageTitle	
{	
    text-transform: none;	
}	
.parent-site .row-title	
{	
    text-align: left;	
    text-transform: none;	
    letter-spacing: 0;	
}	
.parent-site .Module__desc h3	
{	
    text-transform: none;	
}	
.parent-site h3	
{	
    font-size: 1.5em !important;	
    margin-bottom: .5em;	
    text-transform: none;	
}	
.parent-site .Module__fullWidthPageNav .Module__title	
{	
    font-size: .88em !important;	
    font-family: "SourceSansVar" !important;	
    font-variation-settings: "wght" 500 !important;	
}	
.parent-site .faq__indexHeader,	
.parent-site .faq__sectionHeader	
{	
    text-transform: none !important;	
   }



/*
	These are overrides added by Jeff
*/

	.Module--halfWidth {	
  margin: 0 !important; 	
  padding-left: 2em;	
    padding-right: 2em;}

@media (min-width: 56.25em) {
 .modulesArea__row--twocols {	
    padding-left: calc((100vw - 48em) / 2);	
    padding-right: calc((100vw - 48em) / 2); }
}
	.aside--note {	
  background: #f8f7f6; }	



.Module__fullWidthPageNav .Module__title:after {	
	//	In the compiled, live CSS, Jeff commented this line out; I'm unsetting it here
  border-right: unset; 
  }


.u-pageHome .hp-social .Module__link:hover {	
        z-index: 99; }
.u-pageHome .hp-social-photo-tiles .Module__link:hover {	
        z-index: 99; }