table {
	background: none !important;

	tbody {
		th {
			background: $VC__vassarLightGray;
			border: none;
			border-bottom: 2px solid $VC__vassarTextGray;
		}
		tr:nth-child(odd) {
			background: $VC__vassarVeryLightGray;
	    }
	}
}
.table-notstriped {
	tbody {
		tr:nth-child(odd) {
		    background-color: transparent;
		}
	}
    td, th {
	    border-bottom: 1px solid $VC__vassarVeryLightGray;	    
    }
}


